<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="isNew">New Drink Creator</ion-title>
    <ion-title *ngIf="!isNew">Drink Editor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="drink">
    <app-drink-graphic [drink]="drink"></app-drink-graphic>

    <form (ngSubmit)="logForm()">
      <ion-item>
        <ion-label>Drink Title</ion-label>
        <ion-input type="text" [(ngModel)]="drink.title" name="title"></ion-input>
      </ion-item>

      <ion-item *ngFor="let ingredient of drink.recipe; let i = index;  trackBy: customTrackBy">
        <ion-label>Ingredient Name</ion-label>
        <ion-input [(ngModel)]="drink.recipe[i].name" [name]="'Ingredient Title'+i"></ion-input>

        <ion-label>Number of Parts</ion-label>
        <ion-input type="number" [(ngModel)]="drink.recipe[i].parts" [name]="'Ingredient Parts'+i"></ion-input>

        <ion-label>Color</ion-label>
        <ion-input type="text" [(ngModel)]="drink.recipe[i].color" [name]="'Ingredient Color'+i"></ion-input>

        <ion-button (click)="removeIngredient(i)" [disabled]="i==0 && drink.recipe.length==1">Remove</ion-button><br />
        <ion-button (click)="addIngredient(i)" [disabled]="drink.recipe.length==5">ADD</ion-button><br />

      </ion-item>

      <ion-button 
        [disabled]="!auth.can('delete:drinks')"
        (click)="deleteClicked()">Delete</ion-button><br />
      <ion-button (click)="closeModal()">Cancel</ion-button>
      <ion-button 
        [disabled]="!auth.can('patch:drinks') || !auth.can('post:drinks')"
        (click)="saveClicked()">Save</ion-button>

    </form>
</ion-content>