{% extends 'layouts/main.html' %}
{% block title %}New Show{% endblock %}
{% block content %}
  <div class="form-wrapper">
    <form method="post" class="form">
      {{ form.csrf_token }}

      {% if form.errors %}
        <div class="alert alert-block alert-danger fade in mt-3">
          <a class="close" data-dismiss="alert">&times;</a>
          {% for field, errors in form.errors.items() %}
            <li>{{ form[field].label }}: {{ ', '.join(errors) }}</li>
          {% endfor %}
        </div>
      {% endif %}

      <h3 class="form-heading">Create a new show</h3>
      <div class="form-group">
        <label for="artist">Artist</label>
        {{ form.artist(class_ = 'form-control', placeholder='Select the artist', autofocus = true) }}
      </div>
      <div class="form-group">
        <label for="venue">Venue</label>
        {{ form.venue(class_ = 'form-control', placeholder='Select the venue', autofocus = true) }}
      </div>
      <div class="form-group">
          <label for="start_time">Start Time</label>
          {{ form.start_time(class_ = 'form-control', placeholder='YYYY-MM-DD HH:MM', autofocus = true) }}
        </div>
      <input type="submit" value="Save" class="btn btn-primary btn-lg btn-block">
    </form>
  </div>
{% endblock %}