{% extends 'layouts/main.html' %}
{% block title %}Edit Venue{% endblock %}
{% block content %}
  <div class="form-wrapper">
    <form class="form" method="post" action="/venues/{{venue.id}}/edit">
      <h3 class="form-heading">Edit venue <em>{{ venue.name }}</em> <a href="{{ url_for('index') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a></h3>
      <div class="form-group">
        <label for="name">Name</label>
        {{ form.name(class_ = 'form-control', autofocus = true, value=venue.name) }}
      </div>
      <div class="form-group">
          <label>City & State</label>
          <div class="form-inline">
            <div class="form-group">
              {{ form.city(class_ = 'form-control', placeholder='City', autofocus = true, value=venue.city) }}
            </div>
            <div class="form-group">
              {{ form.state(class_ = 'form-control', placeholder='State', autofocus = true) }}
            </div>
          </div>
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        {{ form.address(class_ = 'form-control', autofocus = true, value=venue.address) }}
      </div>
      <div class="form-group">
          <label for="phone">Phone</label>
          {{ form.phone(class_ = 'form-control', placeholder='xxx-xxx-xxxx', autofocus = true, value=venue.phone) }}
        </div>
      <div class="form-group">
        <label for="genres">Genres</label>
        <small>Ctrl+Click to select multiple</small>
        {{ form.genres(class_ = 'form-control', placeholder='Genres, separated by commas', autofocus = true) }}
      </div>
      <div class="form-group">
          <label for="facebook_link">Facebook Link</label>
          {{ form.facebook_link(class_ = 'form-control', placeholder='http://', autofocus = true, value=venue.facebook_link) }}
      </div>
      <div class="form-group">
        <label for="image_link">Image Link</label>
        {{ form.image_link(class_ = 'form-control', placeholder='http://', autofocus = true, value=venue.image_link) }}
      </div>
      <div class="form-group">
        <label>Seeking Talent</label>
        <div class="form-inline">
            <div class="form-group">
              {{ form.seeking_talent(class_ = 'form-control', autofocus = true)}}
            </div>
            <div class="form-group">
              {{ form.seeking_description(class_ = 'form-control', autofocus = true, value=venue.seeking_description)}}
            </div>
        </div>
      </div>
      <div class="form-group">
        <input type="submit" value="Edit Venue" class="btn btn-primary btn-lg">
        <button data-id="{{ venue.id }}" id="btn-delete" class="btn btn-default btn-lg">Delete Venue</button>
      </div>
    </form>
  </div>
  <script>
    document.getElementById('btn-delete').onclick = function(e){
      e.preventDefault()
      const venueId = e.target.dataset['id'];
      fetch('/venues/' + venueId, {
        method: 'DELETE'
      })
      .then(function (response) {
        if (response.status == 200) {
          window.location.href = response.url;
        }
      })
    };
  </script>
{% endblock %}