autopep8==1.5.2
click==7.1.2
ecdsa==0.15
Flask==1.1.2
future==0.18.2
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.2
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
pyasn1==0.4.8
pycodestyle==2.6.0
pycryptodome==3.9.7
python-jose==3.1.0
rsa==4.0
six==1.15.0
typed-ast==1.4.1
Werkzeug==1.0.1