{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Artists{% endblock %}
{% block content %}
<ul class="items">
	{% for artist in artists %}
	<li>
		<div style="display: flex; flex-direction: row;">
			<a href="/artists/{{ artist.id }}">
				<i class="fas fa-users"></i>
				<div class="item">
					<h5>{{ artist.name }}</h5>
				</div>
			</a>
			<span style="padding: 3ch;">
				<a href="/artists/{{ artist.id }}/edit"><i class="fas fa-edit"></i></a>
			</span>
	</div>
	</li>
	{% endfor %}
</ul>
{% endblock %}