{% extends 'layouts/main.html' %}
{% block title %}Fyyur{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-6">
            <h1>Fyyur 🔥</h1>
            <p class="lead">Where musical artists meet musical venues.</p>
            <h3>
                <a href="/venues">
                    <button class="btn btn-primary btn-lg">
                        <i class="fa far fa-search"></i> Find a venue
                    </button>
                </a>
                <a href="/venues/create">
                    <button class="btn btn-default btn-lg">
                        <i class="fa far fa-plus"></i> Post a venue
                    </button>
                </a>
            </h3>
            <h3>
                <a href="/artists">
                    <button class="btn btn-primary btn-lg">
                        <i class="fa far fa-search"></i> Find an artist
                    </button>
                </a>
                <a href="/artists/create">
                    <button class="btn btn-default btn-lg">
                        <i class="fa far fa-plus"></i> Post an artist
                    </button>
                </a>
            </h3>
            <p class="lead">Publicize about your show for free.</p>
            <h3>
                <a href="/shows/create">
                    <button class="btn btn-default btn-lg">
                        <i class="fa far fa-plus"></i> Post a show
                    </button>
                </a>
            </h3>
            <p class="lead">Recent Listed</p>
            <h4>Venues</h4>
            {% for venue in recent_venues %}
                <a class="label label-default" href="/venues/{{ venue.id }}">{{ venue.name }}</a>
            {% endfor %}
            <h4>Artists</h4>
            {% for artist in recent_artists %}
                <a class="label label-default" href="/artists/{{ artist.id }}">{{ artist.name }}</a>
            {% endfor %}
        </div>
        <div class="col-sm-6 hidden-sm hidden-xs">
            <img id="front-splash" src="{{ url_for('static',filename='img/front-splash.jpg') }}"
                 alt="Front Photo of Musical Band"/>
        </div>
    </div>
{% endblock %}