{% extends 'layouts/main.html' %}
{% block title %}Venue Search{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-6">
            <div class="title-container" style="display: flex; align-items: center; align-content: space-between">
                <h1 class="monospace" style="flex: 1 1 70%">
                    {{ venue.name }}
                </h1>
                <div class="remove-container" style="flex: 1 1 20%; text-align: right">
                    <div class="btn-group" role="group">
                        <a class="btn btn-default" href="/venues/{{ venue.id }}/edit" role="button">
                            <i class="fa far fa-edit"></i>
                        </a>
                        <button class="btn btn-danger" data-venue-id="{{ venue.id }}"
                                {% if venue.has_shows %} disabled="disabled"{% endif %}
                                id="delete-venue-button">
                            <i class="fa far fa-trash-alt"></i>
                        </button>
                    </div>
                </div>
            </div>
            <p class="subtitle">
                ID: {{ venue.id }}
            </p>
            <div class="genres">
                {% for genre in venue.genres %}
                    <span class="genre">{{ genre }}</span>
                {% endfor %}
            </div>
            <p>
                <i class="fas fa-globe-americas"></i> {{ venue.city }}, {{ venue.state }}
            </p>
            <p>
                <i class="fas fa-map-marker"></i>
                {% if venue.address %}{{ venue.address }}{% else %}No Address{% endif %}
            </p>
            <p>
                <i class="fas fa-phone-alt"></i> {% if venue.phone %}{{ venue.phone }}{% else %}No Phone{% endif %}
            </p>
            <p>
                <i class="fas fa-link"></i> {% if venue.website %}
                <a href="{{ venue.website }}" target="_blank">{{ venue.website }}</a>{% else %}No Website{% endif %}
            </p>
            <p>
                <i class="fab fa-facebook-f"></i> {% if venue.facebook_link %}
                <a href="{{ venue.facebook_link }}" target="_blank">{{ venue.facebook_link }}</a>{% else %}No Facebook
                Link{% endif %}
            </p>
            {% if venue.seeking_talent %}
                <div class="seeking">
                    <p class="lead">Currently seeking talent</p>
                    <div class="description">
                        <i class="fas fa-quote-left"></i> {{ venue.seeking_description }} <i
                            class="fas fa-quote-right"></i>
                    </div>
                </div>
            {% else %}
                <p class="not-seeking">
                    <i class="fas fa-moon"></i> Not currently seeking talent
                </p>
            {% endif %}
        </div>
        <div class="col-sm-6">
            <img src="{{ venue.image_link }}" alt="Venue Image"/>
        </div>
    </div>
    <section>
        <h2 class="monospace">{{ venue.upcoming_shows_count }} Upcoming {% if venue.upcoming_shows_count == 1 %}
            Show{% else %}Shows{% endif %}</h2>
        <div class="row">
            {% for show in venue.upcoming_shows %}
                <div class="col-sm-4">
                    <div class="tile tile-show">
                        <img src="{{ show.artist_image_link }}" alt="Show Artist Image"/>
                        <h5><a href="/artists/{{ show.artist_id }}">{{ show.artist_name }}</a></h5>
                        <h6>{{ show.start_time|datetime('full') }}</h6>
                        <div class="show-actions">
                            <a href="/shows/{{ show.id }}">
                                <i class="fas fa-info-circle"></i> View show detail
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
    <section>
        <h2 class="monospace">{{ venue.past_shows_count }} Past {% if venue.past_shows_count == 1 %}Show{% else %}
            Shows{% endif %}</h2>
        <div class="row">
            {% for show in venue.past_shows %}
                <div class="col-sm-4">
                    <div class="tile tile-show">
                        <img src="{{ show.artist_image_link }}" alt="Show Artist Image"/>
                        <h5><a href="/artists/{{ show.artist_id }}">{{ show.artist_name }}</a></h5>
                        <h6>{{ show.start_time|datetime('full') }}</h6>
                        <div class="show-actions">
                            <a href="/shows/{{ show.id }}">
                                <i class="fas fa-info-circle"></i> View show detail
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
    <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Delete Venue {{ venue.name }}</h4>
                </div>
                <div class="modal-body">
                    <span class="text-danger">
                        The venue <strong>{{ venue.name }}</strong> will be deleted permanently. Are you sure?
                    </span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" id="perform-delete" data-venue-id="{{ venue.id }}">
                        <i class="fa far fa-trash-alt"></i> Remove
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_script %}
    <script type="text/javascript">
        $('#delete-venue-button').on('click', function (event) {
            event.stopPropagation();
            $('#delete-modal').modal({backdrop: 'static'});
        });
        $('#perform-delete').on('click', function (event) {
            event.stopPropagation();
            const venueId = $(this).data('venueId');
            axios.delete(`/venues/${venueId}`).then(({data, status}) => {
                if (data && data.success && 200 === status) {
                    window.location.href = '/venues';
                }
            });
        });
    </script>
{% endblock %}

