{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Venues{% endblock %}
{% block content %}
{% for area in areas %}
<h3>{{ area.city }}, {{ area.state }}</h3>
	<ul class="items">
		{% for venue in area.venues %}
		<li>
			<div style="display: flex; flex-direction: row;">
			<a href="/venues/{{ venue.id }}">
				<i class="fas fa-music"></i>
				<div class="item">
					<h5>{{ venue.name }}</h5>
				</div>
			</a>
			<span style="padding: 3ch;">
				<i class="fas fa-trash" onclick="deleteVenue({{ venue.id }})">
				</i>
			</span>
			<span>
				<a href="/venues/{{ venue.id }}/edit"><i class="fas fa-edit"></i></a>
			</span>
		</div>
		</li>
		{% endfor %}
	</ul>
	<script>
		deleteVenue = function(id){
			console.log("Delete: " + id);
            fetch('/venues/' + id, {
               method: 'DELETE',
            })
            .then(function () {
				console.log("Deleted venue");
				location.reload()
            })
            .catch(function () {
				console.log("Error deleting venue");
				location.reload()
            })
		}
	</script>
{% endfor %}
{% endblock %}