{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Venues{% endblock %}
{% block content %}
    <a href="/venues/create" class="btn btn-default"><i class="fa far fa-plus-circle"></i> New Venue</a>
    {% for area in areas %}
        <h3>{{ area.city }}, {{ area.state }} ({{ area.count }})</h3>
        <ul class="items">
            {% for venue in area.venues %}
                <li>
                    <a href="/venues/{{ venue.id }}">
                        <i class="fas fa-music"></i>
                        <div class="item">
                            <h5>
                                {{ venue.name }}
                                {% if venue.num_shows > 0 %}
                                    - <span class="text-success">Upcoming ({{ venue.num_shows }})</span>
                                {% endif %}
                            </h5>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}