.App {
  height: 100vh;
  background-color: #14141c;
  color: white;
  display: flex;
  flex-direction: column;
}


.App-header {
  display: flex;
  justify-content: space-between;
  height: 75px;
  padding: 20px;
  padding-right: 40%;
  padding-left: 5%;
}

.App-header > h1 {
  color: #02b3e4;
}

.App-intro {
  font-size: large;
}

h2 {
  text-align: center;
}

li {
  text-align:left;
  margin: 5px 0px;
  display: flex;
  align-items: center;
  padding-left: 40%;
}

ul {
  list-style-type: none;
  padding-inline-start: 0px;
}

form {
  display: flex;
  flex-direction: column;
  width: 10%;
  margin: auto;
}