.quiz-play-holder {
    text-align: center;
    background-color: #14141c;
    color: white;
}

.category-holder {
    margin-top: 16px;
    font-size: 24px;
}

.choose-header {
    font-size: 34px;
    font-weight: bold;
}

.play-category:hover {
    color: #02b3e4;
}

.button {
    width: 100px;
    background-color: #02b3e4;
    border-radius: 7px;
    border: none;
    color: white;
    padding:5px;
    margin-left: 10px;
    align-self: center;
    margin-right: 10px;
}

div.button {
    /* margin-top: 20px; */
    width: 130px;
    margin-left: calc(50% - 50px);
}

.quiz-question {
    margin: 12px;
    font-size: 24px;
}

.correct {
    color: #a5ce84;
}

.wrong {
    color: #d16858;
}

.form-input {
    padding: 0.3rem !important;
    border-radius: 0.5rem !important;
    border: none;
    background-color: #ffffff24;
    color: white;
}

.form-search-input {
    padding: 0.3rem !important;
    border-radius: 0.5rem !important;
    border: none;
    width: 100%;
    color: white;
    height: 30px;
    background-color: #ffffff24;
}

.question-container{
    max-height: 600px;
    overflow: scroll;
}

.submit-guess {
    margin-top: 10px;
}