<ion-header>
  <ion-toolbar style="text-align: center">
    <ion-title><b>Uda-Spice Latte</b> Cafe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="drinks && drinks.items">
<div style="display: flex; justify-content: center; padding-top: 20px;">
    <ion-card
     style="align-items: center; display: flex; flex-direction: column; cursor: pointer;" 
     *ngFor="let drink of Object.keys(drinks.items)"
     (click)="openForm(drinks.items[drink])">
        <ion-card-header>
          <ion-card-title>{{drinks.items[drink].title}}</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
            <app-drink-graphic [drink]="drinks.items[drink]"></app-drink-graphic>
        </ion-card-content>
      </ion-card>
    <ion-card
     style="opacity: .7; align-items: center; display: flex; flex-direction: column; cursor: pointer;" 
     *ngIf="auth.can('post:drinks')"
     (click)="openForm()">
        <ion-card-header>
          <ion-card-title>Create Drink</ion-card-title>
        </ion-card-header>
      
        <ion-card-content style="color:grey; font-size: 256%;">
            <ion-icon name="add-circle"></ion-icon>
        </ion-card-content>
      </ion-card>
</div>
</ion-content>
