<html>
	<head>
		<title> Todo App </title>
		<style>
			.hidden {
				display: none;
			}
			ul {
				list-style: none;
				padding: 0;
				margin: 0;
			}
		</style>
	</head>
	<body>
		<h1>Todo App</h1>
		<div id='error' class="hidden">Something Went Wrong!</div>

		<h2>Todo Lists</h2>
		<form id="newListForm">
			<div>
				<input type="text" id="name" name="name">
				<input type="submit" value="Create"/>
			</div>
		</form>
		{% if data.get('todolists') %}
			<ul id="todolists">
				{% for item in data.get('todolists') %}
					<li>
						<input type="button" value="{{item.name}}" onclick="sendDeleteTodo(event)" data-id="{{ item.id }}"/>
						<input type="button" value="Delete" onclick="sendDeleteList(event)" data-id="{{ item.id }}"/>
					</li>
				{% endfor %}
			</ul>

			<h2 id='list_name' data-id="{{ data.get('todolist').id }}">{{ data.get('todolist').name }} </h2>
			<h3>Todos:</h3>
			<form id="newTodoForm">
				<div>
					<input type="text" id="description" name="description">
					<input type="submit" value="Create"/>
				</div>
			</form>
			<ul id="todos">
				{% for item in data.get('todos') %}
					<li>
						<input class="check-completed" type="checkbox" {% if item.completed %} checked {% endif %} data-id="{{ item.id }}"/>
						{{ item.description }}
						<input type="button" value="Delete" onclick="sendDeleteTodo(event)" data-id="{{ item.id }}"/>
					</li>
				{% endfor %}
			</ul>
		{% else %}
			<div id='no-lists'>No lists exist yet, create one to get started.</div>
		{% endif %}
	</body>

	<script>
		function sendDeleteTodo(event) {
			console.log('event', event );
			todoId = event.target.dataset['id'];
			fetch('/api/todo/delete', {
				method: 'POST',
				body: JSON.stringify(
					{
						'id': todoId
					}
				),
				headers: {
					'Content-Type': 'application/json'
				}
			})
			.then(function(response) {
				return response.json()

			})
			.then(function(jsonResponse) {
				liElement = event.target.parentElement
				console.log(jsonResponse);
				console.log('parent', liElement);
				liElement.parentNode.removeChild(liElement)
			})
		}
		
		function sendCompletedTodo(event) {
			console.log('event', event );
			newCompleted = event.target.checked;
			checkboxId = event.target.dataset['id'];
			fetch('/api/todo/completed', {
				method: 'POST',
				body: JSON.stringify(
					{
					'completed': newCompleted,
					'id': checkboxId
					}
				),
				headers: {
					'Content-Type': 'application/json'
				}
			})
			.then(function(response) {
				return response.json()
			})
			.then(function(jsonResponse) {
				console.log(jsonResponse);
			})
		}

		var checkboxes = document.querySelectorAll('.check-completed');
		for (let i = 0; i < checkboxes.length; i++) {
			const checkbox = checkboxes[i];
			checkbox.addEventListener("change", sendCompletedTodo)
		}
		document.getElementById('newTodoForm').onsubmit = function(e) {
			e.preventDefault();
			fetch('/api/todo/create', {
				method: 'POST',
				body: JSON.stringify({
					'description': document.getElementById('description').value
					}),
					headers: {
						'Content-Type': 'application/json'
						}
					})
					.then(function(response) {
						return response.json()
					})
					.then(function(jsonResponse) {
						console.log(jsonResponse);
						const liItem = document.createElement('LI');
						const newCheckbox = document.createElement('input');
						const newDelete = document.createElement('input');

						newCheckbox.className = "check-completed";
						newCheckbox.setAttribute("type", "checkbox");
						newCheckbox.setAttribute("data-id", jsonResponse['id']);
						newCheckbox.checked = jsonResponse['completed'];
						console.log(newCheckbox);

						newDelete.setAttribute("type", "button");
						newDelete.setAttribute("value", "Delete");
						newDelete.setAttribute("data-id", jsonResponse['id']);
						console.log(newDelete);

						liItem.appendChild(newCheckbox);
						liItem.append(jsonResponse['description']);
						liItem.appendChild(newDelete);

						document.getElementById('todos').appendChild(liItem);
						newCheckbox.addEventListener("change", sendCompletedTodo)
						newDelete.addEventListener("click", sendDeleteTodo)
						
						document.getElementById('error').className = 'hidden';
					})
					.catch(function(e) {
						console.log('event', e);
						document.getElementById('error').className = '';
					})
		}
	</script>
</html>
